@keyframes float {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  50% {
    /* Montée et pivotement à droite */
    transform: translate(20px, -20px) rotate(5deg);
  }
  100% {
    /* Retour à la position de départ avec pivotement à gauche */
    transform: translate(0, 0) rotate(-5deg);
  }
}
@keyframes slideIn {
  0% {
    transform: translateX(500px) scale(0.2);
  }
  100% {
    transform: translateX(0px) scale(1);
  }
}
@keyframes expand {
  0% {
    transform: translateX(1400px);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes slideUp {
  0% {
    transform: translateY(300px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  33% {
    transform: translate(0, 15px);
  }
  66% {
    transform: translate(-15px, 0);
  }
  100% {
    transform: translate(0, -0px);
  }
}
